/* Space out content a bit */
html {
    height: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
    height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


.container {
    height: 100%;
}

.container-narrow > hr {
  margin: 30px 0;
}



/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {*/
  /* Remove the padding we set earlier */
  /*.header,*/
  /*.marketing,*/
  /*.footer {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
  /*}*/
  /* Space out the masthead */
  /*.header {*/
    /*margin-bottom: 30px;*/
  /*}*/
  /* Remove the bottom border on the jumbotron for visual effect */
  /*.jumbotron {*/
    /*border-bottom: 0;*/
  /*}*/
/*}*/




.my-row {
    position: relative;
    height: 100%;
    border: 1px solid red;
    overflow: hidden;
}
.img-fluid {
    width: 100%
}
.row.my-row > [class*="col-"] {
    position: relative
}
.background {
    position: absolute;
    padding-top: 200%;
    left: 0;
    top: 0;
    width: 100%;
    background: #ccc;
}
.content {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.mysidebar {
    /*position: fixed;*/
    /*top: 51px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*z-index: 1000;*/
    /*display: block;*/
    padding: 20px;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    height: 100%;
    -webkit-box-shadow: 5px 0 3px -2px #888;
    box-shadow: 5px 0 3px -2px #888;
}

.mysidebar hr {
    border-top: 2px solid #eeeeff;
}

.mysidebar .nav>li>a , .nav .btn-link{
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #999;
}

.mysidebar .nav>li:hover, .bs-docs-sidebar .nav>li:focus  {/*, .nav .btn-link .dropdown-toggle:hover, .nav .btn-link .dropdown-toggle:focus{*/
/*    padding-left: 19px;*/
    color: #9f111e;
    text-decoration: none;
    /*background-color: transparent;*/
    border-right: 2px solid #9f111e;

}


.mysidebar .nav>li.active, .mysidebar .nav>.active:hover>li {
    border-right: 3px solid #9f111e;
    background-color: #ffffff;
}

.mysidebar .nav>.active>a, .mysidebar .nav>.active:hover>li, .mysidebar .nav>.active:focus>a  .mysidebar .nav>li>.active {/*, .mysidebar .nav>.active>.btn-link:focus, .mysidebar .nav>.active>.btn-link:hover {*/
    padding-left: 18px;
    font-weight: 700;
    color: #9f111e;

    /*border-right: 3px solid #9f111e;*/
}

.sidebar-column {
    height: 100%;
}

.table100, .row, .container, .table-responsive, .table-bordered  {
    height: 100%;
}


.super-nav>li.active {
    border-right: 3px solid #9f111e;
    background-color: #ffffff;
}

.super-nav>li:hover {
    color: #9f111e;
    border-right: 2px solid #9f111e;
    background-color: #eeeeee;
}

