


<div class="btn-group">
    <button type="button" class="btn btn-default btn-link dropdown-toggle" data-toggle="dropdown">
        Create new folder<span class="caret"></span>
    </button>

    <span class="dropdown-menu">

        <span>
            <input type="text" ng-model="newFolderName">
            <button class="btn btn-sm btn-primary" ng-click="create()">Create</button>
            <button class="btn btn-sm btn-link" ng-click="cancel()">Cancel</button>
        </span>


        <span style="margin-top: 30px; " ng-show="showErrorMessage" ng-class="{'hidden': !showErrorMessage}">{{ creationErrorMessage }}</span>
    </span>


</div>