
<a href="#" ui-sref="state1({folder: folder.id})" style="display: table-cell;">{{ folder.name }} <span ng-show="folder.unreadCount > 0">({{ folder.unreadCount}})</span></a>
<span class="expanded" style="width: 100%"></span>
<div class="btn-group" style="display: table-cell;" >
    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <span class="dropdown-menu" role="menu" style="padding: 17px;">

        <ul class="list-unstyled" ng-hide="showRenameForm">
            <li><a href="#" ng-click="showRenameForm=true">Rename</a></li>
            <li><a href="#" ng-click="delete(folder)">Delete</a></li>
        </ul>


        <form ng-show="showRenameForm">
            <label>Rename Folder</label>
            <input type="text" placeholder="Folder Name" ng-model="newFolderName" ng-change="updateInput()">
            <button class="btn btn-xs btn-primary" style="display: inline-block" ng-click="save(folder)">Save</button>
            <button class="btn btn-xs btn-link" style="display: inline-block" ng-click="cancel()">Cancel</button>

            <label ng-show="errorMessage.length > 0">{{ errorMessage }}</label>
        </form>
    </span>
</div>