


<div class="row myrow" style="height:100%">


    <div class="col-md-3 sidebar-column " ng-controller="MainCtrl">

        <div class="mysidebar">

            <ul class="nav" style="">
                <li ng-repeat="folder in folders" ui-sref-active="active">
                    <a href="#" ui-sref="state1({folder: folder.id})">{{ folder.name }} <span ng-show="folder.unreadCount > 0">({{ folder.unreadCount}})</span></span></a>
                </li>
            </ul>

            <hr>


            <span style="padding-bottom: 40px;">
                <a href="#">+ Create new folder</a>
            </span>

            <ul class="nav super-nav">

                <li my-dropdown ui-sref-active="active" ng-repeat="folder in customFolders" ng-mouseover="showToggle=true" ng-mouseleave="showToggle=false" style="display: table; width: 100%;" >

                </li>

            </ul>

            <label style="color: red">{{ errorMessage }}</label>



            <span create-dropdown></span>
        </div>


    </div>

    <div class="col-md-9" ng-controller="MailboxCtrl">

        <ui-view></ui-view>

    </div>



</div>

