<h1>state 1</h1>


<div class="input-group" style="margin-bottom: 30px; width: 50%">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">All <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li><a href="#">Subject</a></li>
            <li><a href="#">Content</a></li>
            <li><a href="#">Recipient</a></li>
        </ul>
    </div><!-- /btn-group -->
    <input type="text" class="form-control" ng-model="terms">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ui-sref="search({ terms: terms})" >Go!</button>
    </span>
</div><!-- /input-group -->



<button class="btn btn-primary" ng-show="showRestoreButton()">Restore</button>

<span id="email-tools">

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="folder in moveFolders"><a href="#" ng-click="move(folder.id)">{{ folder.name }}</a></li>
        </ul>
    </div>
</span>


<p ng-show="showNotification" ng-class="{'bg-warning': !isError, 'bg-danger': isError }">{{ notificationMessage }}</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <input type="checkbox">
            </th>
            <th>
                Who
            </th>
            <th>
                Attachment
            </th>
            <th>
                Subject
            </th>
            <th>
                Date
            </th>
            <th>
                Size
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="message in messages">
            <td>
                <input type="checkbox">
            </td>
            <td>
                {{ message.who }}
            </td>
            <td>
                {{ message.attachment }}
            </td>
            <td>
                {{ message.subject }}
            </td>
            <td>
                {{ message.date }}
            </td>
            <td>
                {{ message.size }}
            </td>
        </tr>

    </tbody>

</table>